.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 70vh;
  min-height: 35vh;
  background-color: #0d1117;
}

.slides {
  display: flex;
  animation: slide 10s infinite;
}

.slide {
  width: 100vw;
  max-height: 70vh;
  min-height: 35vh;
  object-fit: cover;
}

.slides:hover {
  animation-play-state: paused;
  cursor: pointer;
  opacity: 80%;
}  

.s2 {
  color: #0d1117;
}

.s3 {
  color: crimson;
}

.s4 {
  color: whitesmoke;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  ;
}

.darken:hover {
  opacity: 75%;
}

@media (min-width: 576px) {
  .my-btn-sm {
    top: 0 !important;
    bottom: auto !important;
  }
}

@media (min-width: 768px) {
  .img-h {
    max-height: 50vh !important;
  }
}

.productImage {
  object-fit: cover;
  width: 100%;
  height: 350px;

}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100vw);
  }
  45% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-200vw);
  }
  70% {
    transform: translateX(-200vw);
  }
  75% {
    transform: translateX(-300vw);
  }
  95% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(0);
  }
}
