.pop:hover {
  background-color: #343a40;
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}



.catCon {
  width: 100%;
  margin: 0 auto;
}

.bestSellerCon {
  width: 100%;
  margin: 0 auto;
}

.fwidth {
  width: 100%;
}

.socials {
  transition: transform 0.2s ease-in-out;
}
.socials:hover {
  transform: scale(1.2);
}

.s1:hover {
  color: #0077b5;
} /* LinkedIn Blue */
.s2:hover {
  color: #333;
} /* GitHub */
.s3:hover {
  color: #ff0000;
} /* YouTube */
.s4:hover {
  color: #c13584;
} /* Instagram */

.brandCon {
  max-width: 600px; /* or any desired max-width */
  margin-left: auto;
  margin-right: auto;
}

.loader {
  color: crimson;
  animation: spin 1s linear infinite;
  margin: auto; /* center horizontally */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 576px) {
  .catCon img {
    width: 100px;
    height: 100px;
  }
}
